extends templates/base.pug

block head
	link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo|Didact+Gothic")
block body
	main.viewport
		section.half
			h1.title= name
			h2.subtitle= position
		
		aside.divider
		
		section.half
			ul.projects
				each project in projects
					li.project
						a(href=project.link target="_blank")
							= project.name
							if project.info
								small= " - " + project.info

			ul.links
				each link in links
					li.link #[a(href=link.link target="_blank")= link.name]